@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow-x: hidden;
}

.card {
    box-shadow: 0 0 3px gray;
}

.card-sm {
    box-shadow: 0 0 1px gray;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
